body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3dbeba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 60px 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 30px;
    font-size: 3.0rem;
    color: #11d2c9;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 0.9rem;
    color: #1f1919;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #24abaf;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9bd1ce;
}

.register-link {
    margin-top: 10px;
    font-size: 0.9rem;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.register-link a:hover {
    color: #0056b3;
}